.nav-link {
    font-family: Consolas, monospace;
    text-transform: lowercase;
}

.navbar-brand {
    font-family: Consolas, monospace;
}

.page-section-heading {
    font-family: Consolas, monospace;
}

.masthead-heading {
    font-family: Consolas, monospace;
}

.masthead-subheading {
    font-family: Consolas, monospace;
}

.lead {
    font-family: Consolas, monospace;
}

.form-group {
    font-family: Consolas, monospace;
}