.navbar-brand, .page-section-heading, .masthead-heading, .masthead-subheading, .lead, .form-group {
    font-family: Consolas, monospace;
}

.nav-link {
    font-family: Consolas, monospace;
    text-transform: lowercase;
}